<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="لوگو" width="30" height="30">
            مینی‌اپ هوش مصنوعی
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="chat.html">چت</a></li>
                <li class="nav-item"><a class="nav-link" href="payment.html">پرداخت</a></li>
                <li class="nav-item"><a class="nav-link" href="signin.html">ورود</a></li>
                <li class="nav-item"><a class="nav-link" href="signup.html">ثبت‌نام</a></li>
            </ul>
        </div>
    </div>
</nav>
