<div id="sidebar" class="bg-light border-end vh-100 p-3" style="display: none;">
    <h5>منوی کاربری</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="#" class="text-dark">دیلیت اکانت</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">پاک کردن تاریخچه چت</a></li>
        <li class="list-group-item"><a href="payment.html" class="text-dark">مدیریت پرداخت</a></li>
        <li class="list-group-item">
            <button id="toggleTheme" class="btn btn-secondary w-100">تغییر حالت</button>
        </li>
    </ul>
</div>
